<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title></title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular.min.js"></script>
	<script src="produto-controller.js"></script>
</head>
<body ng-app="myStore">

<div ng-controller="ProdutoController as $ctrl">
	<h3>Nossos Produtos</h3>
	<div >
		<table>
			<thead>
				<tr>
					<td>ID</td>
					<td>Produto</td>
					<td>Preço</td>
				</tr>
			</thead>
				
			<tbody ng-repeat="produto in $ctrl.listaProdutos track by $index">
				<tr ng-style="$odd?
				$ctrl.estiloTabelaLinhaImpar :
				{'background-color':'yellow'}">
					<td ng-bind="produto.id"></td>
					<td ng-bind="produto.nome"></td>
					<td ng-bind="produto.preco"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<h4>Criar novo produto</h4>
	<form>
		<input type="text" 
			name="nomeProduto" 
			placeholder="Nome"
			ng-model="$ctrl.novoProduto.nome"><br>
		<input type="text" 
			name="nomeProduto" 
			placeholder="Preço"
			ng-model="$ctrl.novoProduto.preco"><br>
		<input type="text" 
			name="nomeProduto" 
			placeholder="Descrição"
			ng-model="$ctrl.novoProduto.descricao"><br>
		<button ng-click="$ctrl.criarProduto()">Criar</button>
	</form>
</div>

</body>
</html>
