<div class="container">
	<div class="row">
		<h3>Nossos Produtos</h3>
		<form name="buscarProduto"
					class="form-horizontal"
					ng-submit="$ctrl.filtrarProdutos()">
			<div class="form-group">
				<div class="col-xs-7">
					<input type="text" 
							   name="produtoBuscado"
							   class="form-control"
							   placeholder="Buscar produto"
							   ng-model="$ctrl.produtoBuscado">
				</div>
				<div class="col-xs-5">
					<!-- TODO pull-right? -->
					<button class="btn btn-primary" style="width: 100%">
						Novo Produto
					</button>
				</div>
			</div>
		</form>
	</div>
	<div class="row">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<td>ID</td>
						<td>Produto</td>
						<td>Preço</td>
					</tr>
				</thead>
					
				<tbody>
					<tr 
					ng-repeat="produto in $ctrl.listaProdutos track by $index">
						<td ng-bind="produto.id"></td>
						<td ng-bind="produto.nome"></td>
						<td ng-bind="produto.preco | currency:'R$'"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<hr>

	<div class="row">
		<h3>Criar novo produto</h3>
		<form name="criarForm">
		<div class="form-group">
			<input type="text" 
						 name="nomeProduto"
						 class="form-control"
						 placeholder="Nome"
						 ng-model="$ctrl.novoProduto.nome"
						 ng-required="true">
			<input type="text" 
						 name="nomeProduto"
						 class="form-control"
						 placeholder="Preço"
						 ng-model="$ctrl.novoProduto.preco">
			<input type="text" 
						 name="nomeProduto"
						 class="form-control"
						 placeholder="Descrição"
						 ng-model="$ctrl.novoProduto.descricao">
			<button class="btn btn-primary" 
							ng-click="$ctrl.criar()">
				Criar
			</button>
		</div>
		</form>
	</div>
</div>