<div class="container">
	<div class="row">
		<h3>Nossos Pedidos</h3>
		<form name="buscarPedido"
					class="form-horizontal"
					ng-submit="$ctrl.filtrarPedidos()">
			<div class="form-group">
				<div class="col-xs-7">
					<input type="text" 
							   name="pedidoBuscado"
							   class="form-control"
							   placeholder="Buscar pedido"
							   ng-model="$ctrl.pedidoBuscado">
				</div>
				<div class="col-xs-5">
					<!-- TODO pull-right? -->
					<button class="btn btn-primary" 
									style="width: 100%"
									ng-click="$ctrl.abrirModal()">
						Novo Pedido
					</button>
				</div>
			</div>
		</form>
	</div>
	<div class="row">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<td>ID</td>
						<td>Cliente</td>
						<td>Produto</td>
					</tr>
				</thead>
					
				<tbody>
					<tr 
					ng-repeat="pedido in $ctrl.listaPedidos track by $index">
						<td ng-bind="pedido.id"></td>
						<td ng-bind="$ctrl.getNomeClientePelaId(pedido)"></td>
						<td ng-click="$ctrl.mostrarItensPedido(pedido)"> {{pedido.idProduto.length}} itens </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<alert message = "$ctrl.alertMsg"></alert>
