<div class="container">
	<div class="row">
	<h3>Nossos Clientes</h3>
	<form name="buscarCliente"
				class="form-horizontal">
			<div class="form-group">
				<div class="col-xs-7">
					<input type="text" 
									name="clienteBuscado" 
							    class="form-control"
									placeholder="Nome"
									ng-model="$ctrl.clienteBuscado">
			</div>
				<div class="col-xs-5">
					<!-- TODO pull-right? -->
					<button class="btn btn-primary" style="width: 100%">
						Novo Produto
					</button>
				</div>
			</div>
	</form>
	</div>
	<div class="row">
		<div class="table-responsive">
			<table class="table table-striped">
			<thead>
				<tr>
					<td>ID</td>
					<td>Nome</td>
					<td>Cidade</td>
				</tr>
			</thead>
				
			<tbody>
				<tr ng-repeat="cliente in $ctrl.listaClientes  | filter:$ctrl.clienteBuscado track by $index"
				ng-style="$odd?$ctrl.estiloTabelaLinhaImpar:$ctrl.estiloTabelaLinhaPar">
					<td ng-bind="cliente.id"></td>
					<td ng-bind="cliente.nome"></td>
					<td ng-bind="cliente.cidade"></td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>

	<hr>

	<div class="row">
		<h3>Criar novos clientes</h3>
		<form name="criarForm">
		<div class="form-group">
			<input type="text" 
				name="nome"
				class="form-control" 
				placeholder="Nome"
				ng-model="$ctrl.novoCliente.nome"><br>
			<select
				name="cidade" 							   
				class="form-control"
				placeholder="-- Escolha sua cidade --"
				ng-model="$ctrl.novoCliente.cidade">
				<option ng-repeat="cidade in $ctrl.listaCidades" value="{{cidade}}">{{cidade}}</option>
			</select>
			<br>
			<button ng-click="$ctrl.criar()">
				Criar
			</button>
			</div>
		</form>
	</div>
</div>
